<article>

    <header>
        <button class="btn btn-link" ng-click="volver()">Volver</button>
        <h2> Album {{album.title}}</h2>
    </header>
            <div>
            <img src="img/{{::album.image}}" alt="Sin Imagen" width="320" class="img-circle"/>
        </div>

        <div class="container">
           <h3> Grupo: {{ ::album.band.name}}</h3>

            <p><strong>Año </strong>{{ ::album.year }}</p>
            <ul>
                <p><strong>Canciones</strong>
                <li ng-repeat="tracklist in album.tracklist">
                </p>{{::tracklist}}</li>
            </ul>



        </div>
    <footer-standart></footer-standart>
</article>

