
<div>
    <header>
        <h2>Albums</h2>
    </header>
   <table class="table" >
       <h4><strong>Buscar</strong></h4>
    <div class="form-inline">
        <strong><label form="filtroTitulo">Título</label></strong>
        <input type="text" id="filtroTitulo" ng-model="titleFilter"/>
        <label form="filtroAno">Año</label></strong>
        <input type="text" id="filtroAno" ng-model="yearFilter"/>
    </div>
   </table>

    <table class="table">
        <tr ng-repeat="album in albums | filter:{title: titleFilter} | filter:{year: yearFilter}"
            element-albums
                album="album">
        </tr>
    </table>

    <footer-standart></footer-standart>
</div>


