<div>
    <header>
        <h2 class="section_header">Bandas</h2>
    </header>
    <table class="table">
        <tr ng-repeat="band in bandas">
            <td>{{band.name}} </td>
            <td>{{band.origin}} </td>
            <td>{{band.members.name}} </td>
        </tr>
    </table>
    <div>
        <footer>
            <aside>
                <small>
                    <a href="#">Informacion de interes</a>
                </small>
            </aside>
            Creado por Balate
        </footer>
    </div>
</div>


