
<div>
    <header>
        <h2 class="section_header">Géneros</h2>
    </header>
    <table class="table">
        <tr ng-repeat="genre in generos">
            <td>{{genre.name}} </td>
            <td>{{genre.albums.title}} </td>
            <td>{{genre.albums.year}} </td>
        </tr>
    </table>
    <div>
        <footer>
            <aside>
                <small>
                    <a href="#">Informacion de interes</a>
                </small>
            </aside>
            Creado por Balate
        </footer>
    </div>
</div>

