<div>
    <header>
        <h2 class="section_header">Bandas</h2>
    </header>
    <table class="table">
        <h4><strong>Buscar</strong></h4>
    <div class="form-inline">
        <strong><label form="filtroName">Banda</label></strong>
        <input type="text" id="filtroName" ng-model="nameFilter"/>
        <strong><label form="filtroOrigen">Origen</label></strong>
        <input type="text" id="filtroOrigen" ng-model="origenFilter"/>
    </div>
    </table>
    <table class="table">
        <tr ng-repeat="band in bandas | filter:{name: nameFilter} | filter:{origin: origenFilter}"
            element-bands
                band="band">
        </tr>
    </table>
   <footer-standart></footer-standart>
</div>



