<!--<tr>
    <td><p><strong>Nombre de Banda</strong></p>{{band.name}} </td>
    <td><p><strong>Origén</strong></p>{{band.origin}} </td>
    <!-- <td><p><strong>Miembros</strong></p>{{band.members | members:name}} </td>-->

<!--</tr>-->

<tr>
    <td><p><strong>Nombre de Banda</strong></p>{{band.name}} </td>
    <td><p><strong>Origen</strong></p>{{band.origin}}</td>
    <td>

    </td>
    <td>
        <p><strong>Discos</strong></p>
        <div class="row">
            <div ng-repeat="album in band.albums">
                <div class="col-xs-6 col-md-3">
                    <p class="thumbnail">
                        <img ng-src="img/{{album.image}}" ng-if="album.image" alt="{{album.title}}" width="128" class="img-rounded">
                    </p>
                </div>
            </div>
        </div>
    </td>



</tr>