
<tr>

    <td>
        <div>
            <h3>{{band.name}}</h3>
        </div>
        <div class="small">
            <p><strong>Origen</strong></p>{{band.origin}}
        </div>
    </td>
    <td>
         <div  class="center-block">
             <p> <strong>Componetes</strong></p>
             <small>
                     <ul>
                        <li ng-repeat="member in band.members">{{ ::member.name }} ({{ ::member.instruments | instruments }})</li>
                    </ul>
             </small>
        </div>

    </td>
    <td>
        <p><strong>Discos</strong></p>
        <div class="row">
            <div ng-repeat="album in band.albums">
                <div class="col-xs-3 col-md-4">
                    <p class="thumbnail">
                        <img ng-src="img/{{album.image}}" ng-if="album.image" alt="{{album.title}}" width="128" class="img-rounded">
                    </p>
                </div>
            </div>
        </div>
    </td>
</tr>