<tr class="text-center">
    <td class="text-center">
        <img src="img/{{::album.image}}" alt="Sin Imagen" width="120"/>
    </td>
    <td class="text-center">

            <strong>
                Album
            </strong>
                <div>
                     <button class="btn btn-link" ng-click="notificarClick()">
                      <h4><span>{{::album.title}}</span></h4>
                    </button>
                </div>

    </td>
    <td><p><strong>Banda</strong></p>{{::album.band.name}}</td>
    <td><p><small><strong>Año</strong></small></p>{{::album.year}} </td>
    <td><p><small><strong>Género</strong></small></p>{{::album.genre.name}}</td>
    <td>{{::album.tracklist.name}}</td>
    <td>
        <span favoritos id="album.id" tipo="album"></span>
    </td>

</tr>

